
<h1>Add A Microprocessor</h1>
<form method="post" asp-controller="MicroprocessorStore" asp-action="AddNewMicroprocessor">
    <label>Name: </label><input type="text" name="name" />
    <br />
    <label>Description: </label><input type="text" name="description" />
    <br />
    <button type="submit">Add</button>
    <a asp-controller="MicroprocessorStore" asp-action="Microprocessors">Cancel</a>
</form>